<section id="about">
  <h1>About me</h1>
  <p>
    <b>Hi, thanks for stopping by my site.</b> Little bit about me: I have over ten years of experience managing effective communications teams and developing online products across non-profit, government, and private sector companies, from large institutes to smaller and more agile development shops. I lead technical and community-oriented initiatives, create scalable web services, and specialize in data management and visualization. I am currently based in Washington, DC, USA.
  </p>
</section>
