<section id="experience">
  <header>
    <h1>Experience</h1>
    <p>
      My most recent work experience. My full CV is available below along with my current LinkedIn profile.
    </p>
  </header>

  <header>
    <h3>Lead Technologist (Political Appointee), USAID Global Development Lab</h3>
    <p>
      June 2016 - present
    </p>
  </header>
  <header>
    <h3>Operations Officer (staff), World Bank Group</h3>
    <p>
      December 2014   - May 2016
    </p>
  </header>
  <header>
    <h3>COO, Ushahidi</h3>
    <p>
      January 2014 - October 2014
    </p>
  </header>
  <header>
    <h3>Presidential Innovation Fellow, USAID</h3>
    <p>
      July 2013 - March 2014
    </p>
  </header>

  <ul class="actions">
    <li><a href="https://www.dropbox.com/s/38789yoy2zoxyw2/RobertBaker_Resume.pdf?dl=0" class="button small">Download CV (PDF)</a></li>
    <li><a href="https://linkedin.com/in/rrbaker" class="button special small icon fa-linkedin">More details on LinkedIn</a></li>
  </ul>

</section>
