<section id="experience">
  <header>
    <h1>Experience</h1>
    <p>
      My most recent work experience. My full CV is also available along with everything on LinkedIn.
    </p>
  </header>

  <header>
    <h3>Lead Technologist/Appointee, USAID</h3>
    <p>
      June - December 2016
    </p>
  </header>
  <header>
    <h3>Operations Officer, World Bank Group</h3>
    <p>
      January 2014 - May 2015
    </p>
  </header>
  <header>
    <h3>COO, Ushahidi</h3>
    <p>
      January 2013 - November 2013
    </p>
  </header>
  <header>
    <h3>Presidential Innovation Fellow, USAID</h3>
    <p>
      May 2012 - January 2013
    </p>
  </header>

  <ul class="actions">
    <li><a href="https://www.dropbox.com/s/38789yoy2zoxyw2/RobertBaker_Resume.pdf?dl=0" class="button small">Download CV (PDF)</a></li>
    <li><a href="https://linkedin.com/in/rrbaker" class="button special small icon fa-linkedin">More details on LinkedIn</a></li>
  </ul>

</section>
