<section id="posts">
  {% for post in site.posts limit:4 %}
  <header class="major">
    <h2>
      {% if post.medium_url %}
      <a href="{{post.medium_url}}">
      {% else %}
      <a href="{{post.url}}">
      {% endif %}
      {{ post.title }}
      </a>
    </h2>
    <h3>{{ post.excerpt }}</h3>
    <!-- <small>{{ post.date | date: "%-d %b %Y" }}</small> -->
  </header>
  {% endfor %}
</section>

<ul class="actions">
  <li><a href="/posts" class="button small">Archives</a></li>
  <li><a href="https://medium.com/@rrbaker" class="button special small icon fa-medium">More posts on Medium</a></li>
</ul>
