<section id="projects">
  <header>
    <h1>Projects</h1>
    <p>
      I build things. Here's some highlights on independent projects or where I was technical lead.
    </p>
  </header>

  <div class="row">
    {% for project in site.projects reversed sort: 'order' | published: 'true' %}

    <article class="{% cycle '6u', '6u$' %} 12u(small)">
      <header>
        <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
      </header>
      <section>
        {% if project.thumb %}
        <img src="/images/{{ project.thumb }}" alt="thumbnail" />
        {% endif %}
        {{ project.excerpt }}
      </section>
      <footer>
        <ul class="actions">
          <li><a href="{{ project.url }}" class="button small">Details</a></li>
          {% if project.github_url %}
          <li><a href="{{ project.github_url }}" class="button special small icon fa-github">Github repo</a></li>
          {% endif %}
        </ul>
      </footer>
    </article>

    {% endfor %}
  </div>
</section>
