<section id="publications">
  <header>
    <h1>Publications</h1>
    <p>
      I have not, to date, made publishing a personal priority but I've had the great opportunity to with friends and colleagues share knowledge and insights from previous projects.
    </p>
  </header>

  <ul class="alt">
  	<li><i>Baker, Robert et al.</i> 2016. <b>Open Data Readiness Assessment: Sierra Leone.</b> Assessment of the World Bank Group, prepared for the Government of Sierra Leone, May 2016, Washington DC. <a href="http://opendatatoolkit.worldbank.org/docs/odra/odra_sierra_leone.pdf">Available online.</a></li>
    <li><i>Bailard, Catie et al.</i> 2012. <b>Mapping the Maps: A Meta-Level Analysis of Ushahidi and Crowdmap.</b> Report of the Internews Center for Innovation &amp; Learning, May 2012, Washington DC. <a href="https://irevolution.files.wordpress.com/2013/01/internewswpcrowdglobe_web-1.pdf">Available online.</a></li>
    <li><i>Baker, Robert</i>. Volume 8, Issue 2, 2012. <b>Universities for Ushahidi: A Curriculum for Crisis Mapping.</b> Journal of Map &amp; Geography Libraries: Advances in Geospatial Information, Collections & Archives, Washington, DC. <a href="http://www.tandfonline.com/doi/full/10.1080/15420353.2012.656834">Available online.</a></li>
    <li><i>Baker, Robert and George Chamales.</i> 2011. <b>Securing Crisis Maps in Conflict Zones.</b> Global Humanitarian Technology Conference (GHTC), 2011 IEEE, Seattle, WA. <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6103674&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6103674">Available online.</a></li>
  </ul>
</section>
