<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title and page.title != site.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }} &middot; {{ site.tagline }}{% endif %}</title>
  <meta name="description" content="{{ page.description | default: site.description | strip_newlines }}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description | strip_newlines }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
  <main>
    {{ content }}
  </main>
</body>
</html>
